<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% result.forEach(function(item) { %>

        <div style ="border: 1px solid black; padding: 10px;">
        <h1><%= item.id %></h1>
        <img style="width:10%" src= "<%= item.type %>.webp" alt="<% item.type %>">
        <p><%= item.type %></p>
        <p> <%= item.price %></p>
        
        </div>
      <% })%>
</body>
</html>